.login-status-div {
    display: flex;
    flex-direction: row;

}

.logout {
    border-radius: 10%;
    margin-left: 2%;
    width: 5%;
    height: 5%;
    margin-top: 1.4%;
}

.dog-div > img {
    height: 13rem;
    width: 18rem;
}

.dog-div {
    box-sizing: border-box;
    border: solid;
    border-radius: 15%;
    background: rgb(133, 131, 131);
    width: 20%;
    margin: 5%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dog-section {
    display: flex;
    flex-wrap: wrap;
}